
.features {
	background-color: #f4f4f4;
	height: 710px;
}

.img {
	margin-right: 25px;

}


.features p {
	font-family: $myriadr;
	font-size: $fss;
}

.features h5 {
	font-family: $myriadr;
	font-size: $font-size-base;
	color: #323232;
	font-weight: bold;
}

.img1 {
	margin-right: 45px;
}

.img2 {
	margin-right: 75px;
}

.img3 {
	margin-right: 65px;
}

.list-unstyled {
	margin-top: 100px;
}

.media {
	margin-bottom: 35px;
}

.hidden-sm {
	font-family: $myriadr;
	font-size: $fs54;
	color: #8d81ac;
	margin-top: 85px;
}
