

.footer-holder {
	margin-top: 60px;
}

.footer-holder ul {
	list-style-type: none;
}
#footer .logo {
	margin-bottom: 30px;
}

#footer ul {
	margin-top: 30px;
}


#footer strong>a {
	font-family: $myriadr;
	font-size: 30px;
	text-transform: capitalize;
	color: #3f3f3f;
	font-weight: 600;
	margin-bottom: 30px;
}


.available {
	font-family: $myriadr;
	font-size: 12px;
	color: #848e97;
	text-transform: uppercase;
	margin-bottom: 30px;
	display: block;
}

.text-holder h4 {
	font-family: $myriadr;
	font-size: 16px;
	color: #323232;
	margin-bottom: 20px;
}

.text-holder address {
	font-family: $myriadr;
	font-size: 14px;
	color: #848e97;
	margin-bottom: 20px;
	text-transform: capitalize;
}

.text-frame h4 {
	font-family: $myriadr;
	font-size: 16px;
	color: #323232;
	margin-bottom: 30px;
	text-transform: capitalize;
}

.text-frame p {
	font-family: $myriadr;
	font-size: 14px;
	color: #848e97;
	margin-bottom: 30px;
	text-transform: capitalize;
}








